.container{
  padding: 2%;
  margin: 2%;
}

.results{
  padding: 1%;
  margin-bottom: 1%;
  height: 50px;
  width: 400px;
  overflow-y: scroll;
  border: 1px solid grey;
}

.error{
  border: 2px solid red;
  margin-left: 1%;
  padding: 0.5%;
}
